<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo4j Book-Author App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Book-Author Management with Neo4j</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Add Author</div>
                    <div class="card-body">
                        <input type="text" id="author-name" class="form-control mb-2" placeholder="Author Name">
                        <button class="btn btn-primary" onclick="addAuthor()">Add Author</button>
                        <div id="add-author-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Show All Authors</div>
                    <div class="card-body">
                        <button class="btn btn-info" onclick="getAllAuthors()">Show All Authors</button>
                        <div id="authors-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Delete Author</div>
                    <div class="card-body">
                        <input type="text" id="delete-author-name" class="form-control mb-2" placeholder="Author Name" list="author-list">
                        <datalist id="author-list"></datalist>
                        <button class="btn btn-danger" onclick="deleteAuthor()">Delete Author</button>
                        <div id="delete-author-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Link Author to Book</div>
                    <div class="card-body">
                        <input type="text" id="link-author" class="form-control mb-2" placeholder="Author Name" list="author-list">
                        <datalist id="author-list"></datalist>
                        <input type="text" id="link-book" class="form-control mb-2" placeholder="Book Title" list="book-list">
                        <datalist id="book-list"></datalist>
                        <button class="btn btn-primary" onclick="linkAuthorBook()">Link Author and Book</button>
                        <div id="link-author-book-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Search Books by Author</div>
                    <div class="card-body">
                        <input type="text" id="search-author" class="form-control mb-2" placeholder="Author Name" list="author-list">
                        <datalist id="author-list"></datalist>
                        <button class="btn btn-primary" onclick="getBooksByAuthor()">Search</button>
                        <div id="books-by-author-result" class="mt-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Add Book</div>
                    <div class="card-body">
                        <input type="text" id="book-title" class="form-control mb-2" placeholder="Book Title">
                        <input type="text" id="book-year" class="form-control mb-2" placeholder="Year">
                        <button class="btn btn-primary" onclick="addBook()">Add Book</button>
                        <div id="add-book-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Show All Books</div>
                    <div class="card-body">
                        <button class="btn btn-info" onclick="getAllBooks()">Show All Books</button>
                        <div id="all-books-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Delete Book</div>
                    <div class="card-body">
                        <input type="text" id="delete-book-title" class="form-control mb-2" placeholder="Book Title" list="book-list">
                        <datalist id="book-list"></datalist>
                        <button class="btn btn-danger" onclick="deleteBook()">Delete Book</button>
                        <div id="delete-book-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Search Books by Year Range</div>
                    <div class="card-body">
                        <input type="text" id="start-year" class="form-control mb-2" placeholder="Start Year">
                        <input type="text" id="end-year" class="form-control mb-2" placeholder="End Year">
                        <button class="btn btn-primary" onclick="getBooksByYearRange()">Search</button>
                        <div id="books-by-year-range-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Search Authors by Book</div>
                    <div class="card-body">
                        <input type="text" id="search-book" class="form-control mb-2" placeholder="Book Title" list="book-list">
                        <datalist id="book-list"></datalist>
                        <button class="btn btn-primary" onclick="getAuthorsByBook()">Search</button>
                        <div id="authors-by-book-result" class="mt-2"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Find Shortest Path Between Authors</div>
                    <div class="card-body">
                        <input type="text" id="author1" class="form-control mb-2" placeholder="Author 1" list="author-list">
                        <datalist id="author-list"></datalist>
                        <input type="text" id="author2" class="form-control mb-2" placeholder="Author 2" list="author-list">
                        <datalist id="author-list"></datalist>
                        <button class="btn btn-primary" onclick="findShortestPath()">Find Path</button>
                        <div id="shortest-path-result" class="mt-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>